# pdfLaTeX ignore files
*.aux
chatdiamond.log
*.out
chatdiamond.pdf
chatdiamond.synctex.gz
chatdiamond.toc

# UTNativeEssentials
ChatDiamondBin
UTNativeLightHouse

build-UTNativeEssentials-Desktop_Qt_6_3_0_GCC_64bit-Debug
